<!DOCTYPE html>
<html>
<head>
  <title>UltimateFrisbeeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
    <body data-spy="scroll">
        <!-- Static navbar -->
        <header class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">piple</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right scroll-link">
                        <li class="active"><a href="#home">Home</a></li>
                        <li><a href="#features">features</a></li>
                        <li><a href="#team">team</a></li>
                        <li><a href="#pricing">pricing</a></li>
                        <li><a href="#contact">contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </header>


        <div class="banner" id="home">
            <div class="banner-mockup">
                <div class="mockup-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h1 class="animated wow fadeInUp" data-wow-delay="0.2s">Welcome to piple</h1>
                                <p class="animated wow fadeInUp" data-wow-delay="0.4s">
                                    Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
                                </p>
                                <div class="buttons wow animated fadeInUp" data-wow-delay="0.6s">
                                    <a href="#" class="btn btn-primary btn-lg">Our Services</a>
                                    <a href="#" class="btn btn-lg">Purchase me</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <section id="features">
            <div class="container">
                <div class="row features-row">
                    <div class="col-md-3 wow animated fadeIn" data-wow-delay="0.2s">
                        <i class="fa fa-mobile-phone"></i>
                        <h3>Fully responsive</h3>
                        <p>
                            Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
                        </p>
                        <p><a href="#">Learn More...</a></p>
                    </div>
                    <div class="col-md-3 wow animated fadeIn" data-wow-delay="0.4s">
                        <i class="fa fa-bar-chart"></i>
                        <h3>Charts</h3>
                        <p>
                            Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
                        </p>
                        <p><a href="#">Learn More...</a></p>
                    </div>
                    <div class="col-md-3 wow animated fadeIn" data-wow-delay="0.6s">
                        <i class="fa fa-text-height"></i>
                        <h3>Form elements</h3>
                        <p>
                            Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
                        </p>
                        <p><a href="#">Learn More...</a></p>
                    </div>
                    <div class="col-md-3 wow animated fadeIn" data-wow-delay="0.8s">
                        <i class="fa fa-cog"></i>
                        <h3>Well commented code</h3>
                        <p>
                            Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
                        </p>
                        <p><a href="#">Learn More...</a></p>
                    </div>
                </div>
            </div>
        </section>
        
        
        <section class="features-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="wow animated fadeInLeft" data-wow-delay="0.3s">Fully Responsive Layout that will adapt itself to any mobile device.</h3>
                        <p class="wow animated fadeInLeft" data-wow-delay="0.6s">
                            Praesentium voluptatem excepturi corporis labore architecto eos ea molestiae saepe facere at voluptate similique iusto porro pariatur, dolorum dolor magni sint eveniet iste. Eaque, aliquam, dignissimos.
                        </p>
                        <p class="wow animated fadeInUp" data-wow-delay="0.9s"><a href="#">Download App for your smart phone</a></p>
                    </div>
                </div>
            </div>
        </section>
        
        
        <section class="more-feautres">
            <div class="container">
                <h2 class="center-heading">
                    More features
                </h2>
                <div class="row">
                    <div class="col-md-4 wow animated fadeIn" data-wow-delay="0.2s">
                        <i class="fa fa-bar-chart-o"></i>
                        <h3>Lorem ipsum dolor</h3>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
                        </p>
                    </div>
                     <div class="col-md-4 wow animated fadeIn" data-wow-delay="0.4s">
                        <i class="fa fa-table"></i>
                        <h3>Lorem ipsum dolor</h3>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
                        </p>
                    </div>
                     <div class="col-md-4 wow animated fadeIn" data-wow-delay="0.6s">
                        <i class="fa fa-twitter"></i>
                        <h3>qui di seguito per coloro</h3>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
                        </p>
                    </div>
                </div>
                  <div class="row">
                    <div class="col-md-4 wow animated fadeIn" data-wow-delay="0.8s">
                        <i class="fa fa-cogs"></i>
                        <h3>parte hanno subito delle</h3>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
                        </p>
                    </div>
                     <div class="col-md-4 wow animated fadeIn" data-wow-delay="1s">
                        <i class="fa fa-sliders"></i>
                        <h3> molto popolare nel</h3>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
                        </p>
                    </div>
                     <div class="col-md-4 wow animated fadeIn" data-wow-delay="1.2s">
                        <i class="fa fa-flag"></i>
                        <h3>una delle più oscure</h3>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        <section id="team" class="team-section">
            <div class="container">
                 <h2 class="center-heading">Meet the team</h2>
                <div class="row">
                    <div class="col-md-3 text-center wow animated bounceIn" data-wow-delay="0.1s">
                        <img src="images/team-1.jpg" alt="">
                        <h3>John doe</h3>
                        <p>
                           Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                        </p>
                    </div>
                      <div class="col-md-3 text-center wow animated bounceIn" data-wow-delay="0.2s">
                        <img src="images/team-2.jpg" alt="">
                        <h3>John doe</h3>
                        <p>
                           Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                        </p>
                    </div>
                      <div class="col-md-3 text-center wow animated bounceIn" data-wow-delay="0.3s">
                        <img src="images/team-11.jpg" alt="">
                        <h3>John doe</h3>
                        <p>
                           Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                        </p>
                    </div>
                      <div class="col-md-3 text-center wow animated bounceIn" data-wow-delay="0.4s">
                        <img src="images/team-5.jpg" alt="">
                        <h3>John doe</h3>
                        <p>
                           Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                        </p>
                    </div>
                </div>
                   <div class="row">
                    <div class="col-md-3 text-center wow animated bounceIn" data-wow-delay="0.5s">
                        <img src="images/team-4.jpg" alt="">
                        <h3>John doe</h3>
                        <p>
                           Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                        </p>
                    </div>
                      <div class="col-md-3 text-center wow animated bounceIn" data-wow-delay="0.6s">
                        <img src="images/team-8.jpg" alt="">
                        <h3>John doe</h3>
                        <p>
                           Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                        </p>
                    </div>
                      <div class="col-md-3 text-center wow animated bounceIn" data-wow-delay="0.7s">
                        <img src="images/team-9.jpg" alt="">
                        <h3>John doe</h3>
                        <p>
                           Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                        </p>
                    </div>
                      <div class="col-md-3 text-center wow animated bounceIn" data-wow-delay="0.8s">
                        <img src="images/team-10.jpg" alt="">
                        <h3>John doe</h3>
                        <p>
                           Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        
        
        <section id="pricing">
            <div class="container">
                <h2 class="center-heading">Our Pricing</h2>
                
              <div class="row margin-b-30">
                        <div class="col-sm-3 margin-b-30 wow animated fadeInLeft" data-wow-delay="0.1s">
                            <div class="price-box">
                                <h3>Support </h3>
                                <h4>free<span>Life time</span></h4>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-tags"></i> At verso perso</li>
                                    <li><i class="fa fa-cogs"></i> Basic support</li>
                                    <li><i class="fa fa-heart"></i> accumbad nurso turso</li>
                                    <li><i class="fa fa-star"></i> consuct elit amet</li>
                                    <li><i class="fa fa-shopping-cart"></i> nota idlia aremd</li>
                                </ul>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                                </p>
                                <a href="#" class="btn btn-primary disabled">Free on purchase <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div><!--col-->
                        <div class="col-sm-3 margin-b-30 wow animated fadeInLeft" data-wow-delay="0.2s">
                            <div class="price-box popular">
                                <h3>Single </h3>
                                <h4><sup>$</sup>18.00<span>Per Month</span></h4>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-tags"></i> At verso perso</li>
                                    <li><i class="fa fa-cogs"></i> Basic support</li>
                                    <li><i class="fa fa-heart"></i> accumbad nurso turso</li>
                                    <li><i class="fa fa-star"></i> consuct elit amet</li>
                                    <li><i class="fa fa-shopping-cart"></i> nota idlia aremd</li>
                                </ul>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                                </p>
                                  <a href="#" class="btn btn-primary">Purchase Now <i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div><!--col-->
                        <div class="col-sm-3 margin-b-30 wow animated fadeInLeft" data-wow-delay="0.3s">
                            <div class="price-box">
                                <h3>Multiple </h3>
                                <h4><sup>$</sup>99.99<span>Per Month</span></h4>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-tags"></i> At verso perso</li>
                                    <li><i class="fa fa-cogs"></i> Basic support</li>
                                    <li><i class="fa fa-heart"></i> accumbad nurso turso</li>
                                    <li><i class="fa fa-star"></i> consuct elit amet</li>
                                    <li><i class="fa fa-shopping-cart"></i> nota idlia aremd</li>
                                </ul>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                                </p>
                                <a href="#" class="btn btn-primary">Purchase Now <i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div><!--col-->
                        <div class="col-sm-3 margin-b-30 wow animated fadeInLeft" data-wow-delay="0.4s">
                            <div class="price-box">
                                <h3>Extended </h3>
                                <h4><sup>$</sup>799<span>Per Month</span></h4>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-tags"></i> At verso perso</li>
                                    <li><i class="fa fa-cogs"></i> Basic support</li>
                                    <li><i class="fa fa-heart"></i> accumbad nurso turso</li>
                                    <li><i class="fa fa-star"></i> consuct elit amet</li>
                                    <li><i class="fa fa-shopping-cart"></i> nota idlia aremd</li>
                                </ul>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                                </p>
                                <a href="#" class="btn btn-primary">Purchase Now <i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div><!--col-->
                    </div>
            </div>
        </section>
        
        
        <section id="contact">
            <div class="container">
                <h2 class="center-heading">Contact us</h2>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="col-sm-7">
                                <form>
                                    <div class="form-group">
                                       <input type="text" class="form-control" placeholder="Name">
                                    </div>
                                     <div class="form-group">
                                         <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                     <div class="form-group">
                                         <textarea class="form-control" rows="5" placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group text-right">
                                        <button class="btn btn-primary" type="button">Send Message</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-5">
                                <h4>If you have a project you would like to discuss, get in touch with us.</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                                </p>
                                <address>
                    <strong><span class="navy">Company name, Inc.</span></strong><br>
                    601 Street name, 123<br>
                    New York, De 34101<br>
                    <abbr title="Phone">P:</abbr> (123) 678-8674
                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h3>piple </h3>
                        
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                             <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                        <span>&copy; Copyright 2015. All right reserved</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/parallax.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/landing.js"></script>
        <script src="js/classie.js"></script>
        <script>
            function init() {
                window.addEventListener('scroll', function (e) {
                    var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                            shrinkOn = 50,
                            header = document.querySelector("header");
                    if (distanceY > shrinkOn) {
                        classie.add(header, "smaller");
                    } else {
                        if (classie.has(header, "smaller")) {
                            classie.remove(header, "smaller");
                        }
                    }
                });
            }
            window.onload = init();
        </script>
      <%= yield %>
    </body>
</html>